/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap'); */
/* 1. Selectors */

body{
    background: linear-gradient(to bottom, rgba(162,193,242,1) , rgba(162,193,242,0));
    font-family: serif;
    /* font-family: sans-serif; */
}
/* selector { cssProperty: cssValue; } */
/* a.) Element Selector - Selects element based on the name */
h1 {
    color: blue;
    text-align: center;
    font-size: 50px;
    text-align: center;
    text-shadow: 10px 10px 10px black , -10px -10px 10px red;  
    /* vertical horizontal opake(shadow clearity)/blur radius color */
}
/* b.) id Selector - Selects the element based on the id. */
#heading-one:hover {
    color: green;
}
/* c.) class Selector - Selects the elements based on the class name */
/* #para-one, #para-two, #para-four {
    color: gray;
} */
.myPara {
    color: gray;
}
/* d.) Attribute Slector */
/* elementName[attributeName condition] */
/* I want to find the <a> whose href starts with https:// */
/* ^ -> Starts with
$ -> Ends with
* -> contains */
a[href^="https://"] {
    color: yellow;
}
a[href$=".jpg"] {
    color: maroon;
}
a[href*="/"] {
    color: red;
}
img[src^="./"] {
    border: 10px solid gray;
} 
/* e.) Pseudo Selectors */
/* elementName: pseudoProperty { ... } */
ol:first-child {
    color: red;
}
li:first-child {
    color: green;
}
.ordered-list-item:last-child {
    color: red;
}
.unordered-list-item:first-child {
    color: blue;
}
.ordered-list-item:nth-child(3) {
    color: yellow;
}


/* units of measurements */
/* 1. absolute unit : a value that can not be change. (like km , m , liter , kg)that units cannot be change (pixels in html) 
2. relative unit  (em) is most common used. increse size in terms of multiply*/
/* RESPONSIVE DESIGN :- best source is relative unit . to adjust the data in webpage as per requirement.*/

p{
    /* font-size: 18px; */
    font-size: 1.1em; 
    /* font-size: 0.5cm; */
}
 /* converting a div into a box */

 img{
    /* width: 500px;
    height: 720ox;   */
    /* in genral height is absolute and width is realative */
    width: 50%;
    height: 250;
 }


 /* BOX MODEL */
#form-email, #form-name, #form-pwd {
    width: 100%;
}

.form-item {
    margin: 8px;
}

form {
    /* border: widthOfBorder style color; */
    /* style :- 1. solid, 2. dotted, 3. dashed, 4. double */
    border: 3px solid gray;

    /* 
    padding: a-px;
    padding: a-px b-px; a -> top-bottom | b -> left-right
    padding: a-px b-px c-px d-px; a -> top | b -> right | c -> bottom | d -> left 
    */
    padding: 10px;
    padding: 10px 5px;
    padding-top: 5px; padding-right: 10px; padding-bottom: 15px; padding-left: 20px;
    padding: 5px 10px 15px 20px;

    margin: 10px;
    margin: 10px 5px;
    margin: 5px 10px 15px 20px;

    /* NOTE:- padding & margin are both parent properties -> they also have sub-properties associated w them. */
    /* padding-left:; padding-right:; padding-top:; padding-bottom:; margin-top:; margin-bottom:; margin-left:; margin-right:; */
}


/* background: */
#container-two {
    /* width: 65%;
    height: 500px; */
    width: 650px;
    height: 400px;
    /* NOTE:- background is a parent property */
    /* background: red; */
    background: url('https://cdn.wallpapersafari.com/13/84/wlZ31L.jpg');
    background-repeat: no-repeat;
    background-color: green;
    /* background-size: 100%; background-size: auto; background-size: cover; */
    background-size: cover;
    /* background-image: url("./assestes/pexels-alex-fu-1302436.jpg"); */
}

/* Gradients - 1. Linear Gradient, 2. Radial Gradients */
#container-three {
    width: 65%;
    height: 400px;

    /* NOTE :- If no direction is provided, default is top to bottom | Directions :- bottom, top, left, right */
    /* background: linear-gradient(direction, black, red, blue, green, yellow, white); */
    /* background: linear-gradient(to left, black, red, blue, green, yellow, white); */

    /* NOTE :- You can specify the directions usinh deg values (0deg) starts from bottom, reaches to top */
    background: linear-gradient(360deg, black, red, blue, green, yellow, white);

    /* 
    COLORS :-
    1. Named Colors     2. HEX Code     3. RBG() -> rgb(red, green, blue)   4. RGBA() -> rgb(red, green, blue, absolute) -> abs [0-1]; 
    */
}


#container-four {
    width: 400px;
    height: 400px;

    background: radial-gradient(circle, black 10%, red 20%, blue 25%, green 30%, yellow 80%, white 90%);
}

a{
    text-decoration:line-through;
}

/* Fonts and Font-Family */
/* colors:- 1. hex code 2. name 3.RGB color 4. */
/* gradints:- 1.linear gradinet 2. radial gradient */


/* flex box :allign multiple itmes in block */
#container{
    display: flex;
    /* flex-direction:row; row-reverse column column-reverse */
    flex-wrap:wrap;
    /* justify-content: center; flex-end, flex-start only work when box is flex */
    justify-content: space-around;
}
.container-item{
    width: 100px;
    height: 100px;
    font-size: 6em;
    text-align: center;
    background-color: green;
    color: white;
    margin: 15px;
    /* display: block; */
}
 





