/* 1. Selectors */

/* selector { cssProperty: cssValue; } */
/* a.) Element Selector - Selects element based on the name */
h1 {
    color: blue;
}
/* b.) id Selector - Selects the element based on the id. */
#heading-one:hover {
    color: green;
}
/* c.) class Selector - Selects the elements based on the class name */
/* #para-one, #para-two, #para-four {
    color: gray;
} */
.myPara {
    color: gray;
}
/* d.) Attribute Slector */
/* elementName[attributeName condition] */
/* I want to find the <a> whose href starts with https:// */
/* ^ -> Starts with
$ -> Ends with
* -> contains */
a[href^="https://"] {
    color: yellow;
}
a[href$=".jpg"] {
    color: maroon;
}
a[href*="/"] {
    color: red;
}
img[src^="./"] {
    border: 10px solid gray;
} 
/* e.) Pseudo Selectors */
/* elementName: pseudoProperty { ... } */
ol:first-child {
    color: red;
}
li:first-child {
    color: green;
}
.ordered-list-item:last-child {
    color: red;
}
.unordered-list-item:first-child {
    color: blue;
}
.ordered-list-item:nth-child(3) {
    color: yellow;
}

/* units of measurements */
/* 1. absolute unit : a value that can not be change. (like km , m , liter , kg)that units cannot be change (pixels in html) 
2. relative unit  (em) is most common used. increse size in terms of multiply*/
/* RESPONSIVE DESIGN :- best source is relative unit . to adjust the data in webpage as per requirement.*/

p{
    /* font-size: 18px; */
    /* font-size: 1.1em; */
    font-size: 0.5cm;
}
 /* converting a div into a box */

 img{
    /* width: 500px;
    height: 720ox;   */
    /* in genral height is absolute and width is realative */
    width: 50%;
    height: 250;
 }


/* colors:- 1. hex code 2. name 3.RGB color 4. */
/* gradints:- 1.linear gradinet 2. radial gradient */



